<html>
    <head>
        <title>Timbira's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Timbira's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.08.2016, 11:20</p>
            <h2><a href="">Porque bacon is good?</a></h2>
            <p>Pq é, oras essa.</p>
        </div>

        <div>
            <p>published: 29.08.2016, 11:21</p>
            <h2><a href="">Coisas Inexplicavéis</a></h2>
            <p>1º) 1 libertadores, 2 mundiais;
	       2º) Vasco;
               3º) Mundial de 51 das peppas; </p>
        </div>
    </body>
</html>
